.ql-editor {
  max-height: 500px !important;
  min-height: 150px !important;
}

.ql-tooltip {
  background-color: #333 !important; /* 暗色背景 */
  border: 1px solid #555 !important; /* 暗色边框 */
  color: #fff !important; /* 白色文字 */
}

.ql-tooltip input {
  background-color: #333 !important; /* 暗色背景 */
  color: #fff !important; /* 白色文字 */
}
